*{
    /* POR PADRÃO JÁ VEM DEFINIDO COMO CONTENT-BOX. ESSA PROPRIEDADE NÃO INCLUÍ PADDING OU BORDER. 
     * ISSO FAZ COM QUE O TAMANHO DEFINIDO width/height TENHA UM TOTAL DE TAMANHO MAIOR NO FINAL. 
     * O IDEAL É UTILIZAR BORDER-BOX
     *
     * box-sizing: content-box;
     */

    /* SE UTILIZAR O (BORDER-BOX) O QUE FOI DEFINIDO COM ALTURA/LARGURA SERÁ 
     * REDEFINIDO PARA QUE O TAMANHO TOTAL DO ELEMENTO TENHA UM TOTAL DE 400PX(CONFORME O QUE FOI DEFINIDO NA 
     * CLASSE .exemplo)
     */
    box-sizing: border-box; 
}
body{
    margin: 0px
}

.exemplo{
    background-color: springgreen;
    width: 400px;/*VEJA QUE FOI DEFINIDO O TAMANHO E ALTURA DO ELEMENTO*/
    height: 400px;/*ISSO NÃO QUER DIZER QUE O VALOR TOTAL DO ELEMENTO É 400PX*/
    padding: 10px;/*COMO FOI ATRIBUIDO NOVOS VALORES O SEU VALOR TOTAL É: 430PX*/
    border: solid black 5px;/*A SOMA É DO TAMANHO DO (ELEMENTO + PADDING + BORDER = TOTAL)*/
    margin: 20px;/*COMO A MARGEM É EXTERNA ELA NÃO ENTRA NA CONTA!*/
} 
